djangotest/src/djangotest/__init__.pyc
djangotest/src/djangotest/admin.pyc
djangotest/src/djangotest/settings.pyc
djangotest/src/djangotest/urls.pyc
djangotest/src/djangotest/wsgi.pyc
djangotest/src/forum/__init__.pyc
djangotest/src/forum/forms.pyc
djangotest/src/forum/models.pyc
djangotest/src/forum/urls.pyc
djangotest/src/forum/views.pyc
djangotest/src/polls/__init__.pyc
djangotest/src/polls/models.pyc
djangotest/src/polls/urls.pyc
djangotest/src/polls/views.pyc
djangotest/src/manage.pyc
djangotest/src/myenv
djangotest/docs/myenv
djangotest/docs/myenv
