
{% extends "base.html" %}

{% block page-title %}Django Forum Test{% endblock %}

{% block content %}
    <h1>forum list</h1><br />
    <table style="border: solid 1px gray; width: 300px; text-align: center;" id="item-list">
        <tr style="background-color: #DDD">
            <th style="padding: 10px;">ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    {% for item in forum_list %}
        <tr>
            <td style="padding: 10px;">{{ item.id }}</td>
            <td>{{ item }}</td>
            <td><a href="{% url 'forum-details' item.id %}">show</a></td>
        </tr>
    {% endfor %}
    </table>
    <br />
{% endblock %}
